$cyan:           #33CCCC;
$magenta:        #CC6699;
$yellow:         #CC9966;
$cyan-bright:    #00FFFF;
$magenta-bright: #FF0099;
$yellow-bright:  #FFCC00;
$white:          #FFFFFF;
$gray:           #555555;
$gray-darker:    #ADADAD;
$gray-lighter:   #FAFAFA;
$black:          #000000;
